<?xml version = "1.0" encoding = "utf-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name = "hibernate.dialect">
            org.hibernate.dialect.MySQL5Dialect
        </property>

        <property name = "hibernate.connection.driver_class">
            com.mysql.cj.jdbc.Driver
        </property>

        <!-- No assumptions. Real database configurations -->

        <property name = "hibernate.connection.url">
            jdbc:mysql://localhost/bookabook
        </property>

        <property name = "hibernate.connection.username">
            root
        </property>

        <property name = "hibernate.connection.password">
            <!--leavemealone-->
            root
        </property>

        <!-- Setting autocommit -->
        <property name="hibernate.connection.autocommit">
            true
        </property>


        <!-- Drop and re-create the database schema on startup -->
        <property name="hibernate.hbm2ddl.auto">
            update
        </property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- JDBC connection pool (use the built-in) -->
        <!--<property name="connection.pool_size">1</property>-->

        <!-- SQL dialect -->
        <!--<property name="dialect">org.hibernate.dialect.H2Dialect</property>-->


        <!-- Names the annotated entity class -->
        <mapping class="server.models.User"/>
        <mapping class="server.models.Book"/>

        <!-- List of XML mapping files -->
        <!--<mapping resource = "Employee.hbm.xml"/>-->

    </session-factory>
</hibernate-configuration>